<div class="header">
  <div class="header_first">
    <img class="header_logo" src="/assets/E-cine.svg" />
  </div>
  <ul class="header_nav">
    <div>
      <li><a class="nav" href="#1">Accueil</a></li>
    </div>
    <div class="header_nav_block">
      <li><a class="nav nav-modifier" href="#2">Séries</a></li>
    </div>
    <div class="header_nav_block">
      <li><a class="nav nav-modifier" href="#3">Films</a></li>
    </div>
    <div class="categorys">
      <li><a class="categorie" href="#1">Categorie 1</a></li>
      <li><a class="categorie" href="#1">Categorie 2</a></li>
      <li><a class="categorie" href="#1">Categorie 3</a></li>
    </div>
  </ul>
  <div class="header_second">
    <form>
      <input
        class="header_form"
        type="text"
        id="fname"
        name="fname"
        placeholder="Recherche un film, une série"
      />
    </form>
  </div>
  <div class="header_account">
    <a href="#6">
      <img class="account_logo" src="/assets/account_1.png" />
    </a>
  </div>
</div>
<script src="/js/header.js"></script>
